{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Dane kontaktowe</h1>
        <p>Imie: {{ name }}</p>
        <p>Nazwisko: {{ surname }}</p>
        <p>Ulica: {{ street }}</p>
        <p>Miasto: {{ city }}</p>
        <p>Numer telefonu: {{ phoneNumber }}</p>
    </div>
{% endblock %}